/* No CSS */
* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    height: 100vh;
    background-color: rgb(105, 105, 105);
}
.slider-viewer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 1000px;
}
.slide {
    width: 100%;
    height: 100%;
}
.slider-group {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.mem {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
    background-color: rgb(65, 60, 60);
    border-radius: 25px;
}
.active-slide {
    animation: slide-img 1s ease-in;
}
@keyframes slide-img{
    0% {
        opacity: .1;
    }
    50% {
        opacity: .5;
    }
    80% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}
.mem:first-child {
    display: block;
}

/* btns */
.slide-buttons {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(24, 26, 13);
    border-radius: 25px;
    background-color: rgb(132, 200, 132);
    transition: all 0.2s;
}
.slide-buttons:hover {
    border-color: aliceblue;
}
.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 40px 0;
}

.active-btn {
    background-color: rgb(124, 65, 65);
}
.wrapper-bottom {
    display: flex;
    justify-content: space-between;
}